<!DOCTYPE html>
<html>
<head>
    <title>Maps Test</title>
	<meta charset="utf-8" />

    <link href="../styles/common.css" rel="stylesheet" />

    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../scripts/MapsTest.js"></script>
</head>
<body>
    
    <h1>Maps Test</h1>

    <div id="map"></div>


</body>
</html>
